<!doctype html>
<html ng-app="myApp">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/service.js"></script>
    <style>        
            table, th, td {
                border: 1px solid black;
            }
            </style>
</head>

<body>
    <div ng-controller="IndexController">
        <table>
            <thead>
                <tr>Currency</tr>
                <tr>Last Price</tr>
                <tr>Date</tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in currencies">
                    <td><a ng-click="open(row.currency)" href="javascript:void(0);">{{row.currency}}</a></td>
                    <td>{{row.priceUSD}}</td>
                    <td>{{row.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>